
#input-email{
    padding-top: 10px;
}
body{
    background-image: url("../../assets/images/signupbg.jfif");
    /* background: linear-gradient(to bottom, #66ffff 0%, #ffff99 100%); */
    background-size: cover;
}